__pycache__/
0. Ready Files
0. Temp Compile
compileFiles
reconfigureFiles
setUpFolders
sounds/__init__.py
sounds/decompileCharSounds.py
updateFiles
xmlOps
common.py
folders.py
globalVars.py
projectCompiler.bat
projectCompiler.py
questions.py
validators.py
xcToJson.py
desktop.ini
thumbs.db
~$*